*{
    margin: 0;
    box-sizing: border-box;
    padding: 0%;
}
body{
 background: rgba(0, 0, 0, 0.658);
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(image/kce_main.png);
    background-size: cover;
 }
nav{
    width: 100%;
    height: 10vh;
    background: rgba(68, 64, 64, 0.349);
}
nav a{
    float: right;
    margin-top: 4vh;
    color: rgb(2, 177, 2);
    text-decoration: none;
    font-size:17px;
    margin-right: 15px;
    font-weight: 500;
}
nav a:hover{
  color: rgb(199, 63, 10);
}
nav a::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: rgb(29, 87, 138);
    margin: auto;
    transition: 0.5s;
}
nav a:hover::after{
    width: 100%;
}
.boxs{
    position: relative;
    display: block;
    width: 60vh;
    height: 60vh;
    background: rgba(0, 0, 0, 0.459);
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.i-nav{
    width: 100%;
    height: 8vh;
    background-color: #CB7538;
    border-radius: 10px 10px 0 0;
}
.boxs h3{
    position: relative;
    color: #fff;
    text-align: center;
    top: 2vh;
}
.name,.password{
    text-align: center;
    margin-top: 4vh;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.box input{
    width: 50vh;
    margin-top: 6px;
    margin-left: 5vh;
    background: #D8D2D2;
    border-radius: 6.9px;
    font-size: 19px;
    border: none;
}
.sign{
    width:20vh;
    height: 5vh;
    transform: translate(21vh,100%);
    color: #fff;
    background-color: rgb(8, 71, 8);
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
}
.foot{
    display: none;
}
.sign:hover{
    background-color: rgb(155, 87, 10);
    transition: 0.5s;
}
@media (max-width:600px){
    nav{
        height: 10vh;
    }
    nav img{
        width: 40vh;
        margin-left: 5vh;
        margin-top: 2vh;
    }
    .boxs{
        transform: translate(-50%,-70%);
        width: 36vh;
        height: 50vh;
    }
    .box input{
        width: 28vh;
        margin: 0%;
    }
    .sign{
        transform: translate( 8vh,5vh);
    }
    .nav{
        display: none;
    }
    .foot{
        display: block;
        position: relative;
        margin-top:8vh;
        text-align: center;
        text-decoration: none;
        color: rgb(1, 255, 1);        
    }
}