*{

    margin: 0;
    padding: 0%;
}
body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;}
img{
    width: 50px;
}

.head{
    color: #fff;
    text-align: center;
}
.container{
    
    position: absolute;
    width: 65vh;
    height: 80vh;
    top: -5%;
    background: rgba(99, 98, 98, 0.363);
    left: 50%;
    transform: translate(-50%,30%);
    border-radius: 20px;
    box-shadow: 1px 1px 2px 1px rgb(146, 146, 146),-2px -0px 2px 1px rgb(146, 146, 146);
}
form{
    padding: 0 50px;
    box-sizing: border-box;
}
.txt {
    position: relative;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 50px 0;
}
.txt input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    border: none;
    background: none;
    outline: none;
    color: #fff;
}
.txt label{
    position: absolute;
    left: 5px;
    top: 20px;
}
.txt input:focus~label,
.txt input:valid~label{
    top: -10px;
}
.sign{
    margin-left: 12vh;
    font-family: 'Roboto', sans-serif;
    width:50%;
    height: 7vh;
    color: #fff;
    background-color: #059BE5;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 22px;
    font-weight: 800;
}
.sign:hover{
    background-color: rgb(10, 32, 155);
    transition: 0.5s;
}
@media (max-width:600px){
    .container{
        margin-top: -15px;
        width: 40vh;
    }
    .head{
        margin-top: 15px;
        font-size: 25px;
    }
    .sign{
        margin-left: 5vh;
    }
}
