body{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    display: block;
    position: absolute;
    width: 550px;
    height: max-content;
    top: -40%;
    background: rgba(110, 110, 110, 0.233);
    left: 50%;
    transform: translate(-50%,30%);
    border-radius: 20px;
    box-shadow: 1px 1px 2px 1px rgb(146, 146, 146),-2px -0px 2px 1px rgb(146, 146, 146);
    color: #fff;
}
.container h3{
    margin-left: 200px;
}
.sub{
    margin-left: 5%;
}

 p{
    margin-top: 25px;
    font-size: 18px;
    margin-left: 45px;
}
label{
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    margin-left: 45px;
}
label+label{
    margin-left: 55px;
}
label input[type="radio"]{
    display: none;
}
label span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid rgb(9, 142, 194);
    display: block;
    margin-left: -5px;
    margin-top: 10px;
}
label span::after{
    content: "";
    height: 16px;
    width: 16px;
    margin-left: 2px;
    margin-top: 2px;
    background: rgb(9, 142, 194);
    transform: translate(0%,0%) scale(0);
    display: block;
    position: absolute;
    border-radius: 50%;
}
label input[type="radio"]:checked~span::after{
    transform: translate(0%,0%) scale(1);
}

.sign{
    font-family: 'Roboto', sans-serif;
    width:50%;
    height: 40px;
    color: #fff;
    background-color: #059BE5;
    border: none;
    margin-top: 50px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 22px;
    margin-left: 100px;
    font-weight: 800;
}
.sign:hover{
    background-color: rgb(10, 32, 155);
    transition: 0.5s;
}
.space{
    height: 55px;
}
@media  only screen and (max-width:600px){
    h3{
        float: right;
        width: 205px;
        margin-right: 35px;
    }
    .container{
        margin-top: 15%;
        transform: translate(-50%,30%);
        width: 280px;
        height: max-content;
    }
    .box input{
        width: 205px;
        margin-top: 15px;
    }
    .sign{
        margin-left: 70px;
    }
}
